
.cart-container {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 5rem;
}

h3 {
    text-decoration: underline;
    text-underline-offset: 6px;
    margin-bottom: 2rem;
    margin-left: 10px;
}

.outer-container {
    margin-right: 70%;
}

.inner-container {
    display: flex;
    justify-content: space-between;
    /*gap: 10px;*/
    /*padding: 6px;*/
    /*margin-left: 0;*/
    margin-bottom: 2rem;
    /*border: 1px solid black;*/
}

.image-wrapper {
    display: flex;
    justify-content: center;
    width: 200px;
    /*margin-right: 10px;*/
    /* width: 5%;
    margin: auto;*/
    /*width: 200px;*/
    /*text-align: left;*/
}

.image {
    max-width: 200px;
    max-height: 200px;
    /*padding: 6px;*/
}

.name {
    /*flex-grow: 1;*/
    /*padding: 6px;*/
}

.cart-footer {
    margin-top: 80px;
    text-align: right;
}

.btn {
    margin-top: 20px;
}

.cart-product-price {
    font-weight: 600;
}

.btn-delete {
    background: none;
    border: none;
    padding: 0px;
    color: red;
    font-size: 12px;
}

    .btn-delete:hover {
        text-decoration: underline;
    }

.input-quantity {
    width: 70px;
}

@media (max-width: 640px) {
    h3 {
        margin: 1rem 1rem 1rem 1rem;
    }

    .outer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
        margin-left: 15px;
    }

    .inner-container {
        width: unset;
    }


    .image-wrapper {
        width: unset;
        margin-right: 20px;
    }

    .name {
        margin-right: 5px;
    }
}
