
h2{
    margin-top: 2rem;
}

.container {
    margin-left: 20%;
}

img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 6px;
    transition: transform .15s;
    margin-bottom: 10px;
}

.featured-product {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 200px;
}

@media (min-width: 641px) {
    .container {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        justify-content: center;
    }
}
