@inject ICategoryService CategoryService
@implements IDisposable

@* MOBILE *@
<div class="mobile-nav title-application navbar navbar-dark">
    <div class="container-fluid">
        <a class="brand" href="">Start buying</a>
        <button title="navigation_menu" class="navbar-toggler" @onclick="ToggleMenuMobile">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div >
    <nav class="menu-layout" @onclick="ToggleMenuMobile">
        <div class="item">
            <a href="">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </a>
        </div>
        @if (CategoryService.Categories != null)
        {

            @foreach (var category in CategoryService.Categories)
            {
                <div class="item">
                    <a href="@category.Url">
                        @category.Name
                    </a>
                </div>

            }
        }

    </nav>
</div>



@* DESK *@
<div> @* Esse ToggleNavMenu funciona apenas para Mobile*@
    <nav class="dev-nav">
        <div class="item">
            <a href="">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </a>
        </div>
        @if (CategoryService.Categories != null)
        {

            @foreach (var category in CategoryService.Categories)
            {
                <div class="item">
                    <a href="@category.Url">
                        @category.Name
                    </a>
                </div>

            }
        }

    </nav>
</div>

@code {

    private bool collapseMenuMobile = true;

    private void ToggleMenuMobile()
    {
        collapseMenuMobile = !collapseMenuMobile;
    }

    //pq esse metodo precisa ser overrride protected ?
    //eese metodo que faz aparecer em dev tool network a api Category. Pq fica registrado com esse nome ????
    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
        CategoryService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CategoryService.OnChange -= StateHasChanged;
    }

}