.brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

a {
    color: white;
    text-decoration: unset;
}

.title-application {
    display: block;
    height: 3.5rem;
}

.menu-layout {
    display: flex;
    flex-direction: column;
}


.item {
    padding: 6px;
}


.mobile-nav {
    display: flex;
}

.desk-nav {
    display: none;
}

.mobile-menu {
    position: fixed;
    right: -100%;
    background-image: linear-gradient(180deg, rgb(44, 62, 88) 0%, rgb(52, 73, 94) 70%);
    width: 250px;
    height: 100%;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.3);
    transition: right 1.5s;
}


    .mobile-menu.open {
        right: 0;
    }


@media (min-width: 641px) {

    .desk-nav {
        display: flex;
    }

    .mobile-nav {
        display: none;
    }

    .menu-layout {
        display: flex;
        flex-direction: row;
        height: 58px;
        align-items: center;
    }

    .item {
        padding: 15px;
        width: 10rem;
        text-align: center;
    }

        .item:hover {
            background-image: linear-gradient(180deg, rgba(77, 91, 119, 0.6) 0%, rgba(83, 97, 121, 0.6) 70%);
            outline: 0.3px solid white;
            border-radius: 5px;
            transition: 0.3s;
        }

            .item:hover a {
                transform: scale(1.1);
                display: inline-block;
                transition: transform 0.3s ease;
            }
}
